#invin {
    width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin: auto;
}
#info {
    width: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin: auto;
}